@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Font family Quicksand
*/

/* 
  Font family Neue Montreal
*/

@font-face {
	font-family: "Neue Montreal";
	src: url("/assets/fonts/NeueMontreal-Regular.otf");
}

@font-face {
	font-family: "Neue Montreal Bold";
	src: url("/assets/fonts/NeueMontreal-Bold.otf");
}

@font-face {
	font-family: "Neue Montreal Medium";
	src: url("/assets/fonts/NeueMontreal-Medium.otf");
}

/* 
  Font family Cinzel
*/

@font-face {
	font-family: "Neue Montreal";
	src: url("/assets/fonts/NeueMontreal-Regular.otf");
}

/* 

Custom CSS events

*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* html {
	scroll-behavior: smooth;
} */

.char {
	transform: translateY(115px);
	transition: transform 0.5s;
}

/* Remove marquee overlay background */

.overlay {
	display: none !important;
}

#scroll-to-top-btn.active {
	right: 5rem;
}

.swiper {
	pointer-events: auto;
}

/* lenis */

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

/* lenis end */

.blurred-img.loaded img {
	opacity: 1;
}
.blurred-img.loaded img {
	filter: none;
}

.project-category.active {
	opacity: 1;
}

@media screen and (min-width: 480px) {
	#scroll-to-top-btn.active {
		right: 3rem;
	}
}
